################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Microservices.App1/v16
/.vs
/Microservices.App/.vs/Microservices.App/v15
/Microservices.App/.vs/Microservices.App/v16
/Microservices.App/APIGateWay/Gateway.API/bin/Debug/netcoreapp3.1
/Microservices.App/APIGateWay/Gateway.API/obj/Debug/netcoreapp3.1
/Microservices.App/APIGateWay/Gateway.API/obj/Release/netcoreapp3.1
/Microservices.App/APIGateWay/Gateway.API/obj
/Microservices.App/Catalog/Catalog.API/.config
/Microservices.App/Catalog/Catalog.API/bin/Debug/netcoreapp3.1
/Microservices.App/Catalog/Catalog.API/bin/Release/netcoreapp3.1
/Microservices.App/Catalog/Catalog.API/obj
/Microservices.App/Catalog/Catalog.API/Properties/PublishProfiles
/Microservices.App/Catalog/Catalog.DataAccess/bin/Debug/netcoreapp3.1
/Microservices.App/Catalog/Catalog.DataAccess/bin/Release/netcoreapp3.1
/Microservices.App/Catalog/Catalog.DataAccess/obj
/Microservices.App/Catalog/Catalog.Model/bin
/Microservices.App/Catalog/Catalog.Model/obj
/Microservices.App/Catalog/Catalog.Repositories/bin
/Microservices.App/Catalog/Catalog.Repositories/obj
/Microservices.App/Common/EventBus/bin
/Microservices.App/Common/EventBus/obj
/Microservices.App/RabbitMQ/bin/Debug/netcoreapp3.1
/Microservices.App/RabbitMQ/obj
/Microservices.App/Subscriber.API/bin/Debug/netcoreapp3.1
/Microservices.App/Subscriber.API/obj
